body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(59, 92, 89), rgb(143, 187, 188), rgb(179, 254, 246));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
}
.contenedor{
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10pc rgba(0, 0, 0, 0.3);
}
.tiempo{
    font-size: 3rem;
    margin-top: 20px;
}
.botones button{

    background: rgb(181, 224, 223);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.botones button:hover{
    background: rgb(66, 117, 115);
}